
/* --- table style --- */

.table {
  position: fixed;
  margin-top: 56px;
  min-height: 500px;
  min-width: 900px;
  background-color: green;
}

/* --- player styles --- */

.player-box {
  min-height: 200px;
  margin-top: 200px;
  text-align: center;
}

.player-cards {
  margin-left: auto;
  margin-right: auto;
}

.player-information {

}

/* --- dealer styles --- */

.dealer-box {
  min-height: 200px;
  text-align: center;
}

.dealer-cards {
  position: absolute;
  left: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  min-height: 60px;
  min-width: 175px;
}

/* --- computer players styles --- */

.computer-player-1 {
  min-height: 200px;
  position: absolute;
  left: 100px;
  margin-top: 50px;
}

.computer-player-2 {
  min-height: 200px;
  position: absolute;
  left: 650px;
  margin-top: 50px;
}

/* --- controls style --- */
.controls{
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* --- warning styles --- */

.warnings{
  position: absolute;
  left: 30%;
  margin-left: -75px;
  margin-top: 680px;
  min-height: 60px;
  min-width: 175px;
}
